.env
.env.*
.git
.gitignore
frontend/node_modules
frontend/dist
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
Dockerfile
docker-compose*.yml